## Workflow for Downloading and Importing CSV Files Into Pandas Dataframes

1. Import packages
    * os
    * pandas
    * earthpy
2. Download data using earthpy
3. Set working directory using os  
4. Use os to define relative path
5. Import data into pandas dataframes
    * find function to import data: pd.read_csv

In [1]:
# Import packages
import os
import pandas as pd
import earthpy as et

In [2]:
# Download file from URL
avg_monthly_precip_url = "https://ndownloader.figshare.com/files/12710618"
et.data.get_data(url=avg_monthly_precip_url)

'/home/jovyan/earth-analytics/data/earthpy-downloads/avg-precip-months-seasons.csv'

In [3]:
# Set working directory
os.chdir(os.path.join(et.io.HOME,"earth-analytics"))

os.getcwd()

'/home/jovyan/earth-analytics'

In [4]:
# Define relative path
f_avg_monthly_precip = os.path.join("data", "earthpy-downloads", 
                                    "avg-precip-months-seasons.csv")

os.path.exists(f_avg_monthly_precip)

True

In [5]:
# Import CSV into pandas dataframe
avg_monthly_precip = pd.read_csv(f_avg_monthly_precip)

avg_monthly_precip

   months  precip seasons
0     Jan    0.70  Winter
1     Feb    0.75  Winter
2     Mar    1.85  Spring
3     Apr    2.93  Spring
4     May    3.05  Spring
5    June    2.02  Summer
6    July    1.93  Summer
7     Aug    1.62  Summer
8    Sept    1.84    Fall
9     Oct    1.31    Fall
10    Nov    1.39    Fall
11    Dec    0.84  Winter

In [6]:
# Check shape attribute
avg_monthly_precip.shape

(12, 3)

In [7]:
# Run summary stats on numeric columns
avg_monthly_precip.describe()

          precip
count  12.000000
mean    1.685833
std     0.764383
min     0.700000
25%     1.192500
50%     1.730000
75%     1.952500
max     3.050000

In [8]:
# See first few rows
avg_monthly_precip.head()

  months  precip seasons
0    Jan    0.70  Winter
1    Feb    0.75  Winter
2    Mar    1.85  Spring
3    Apr    2.93  Spring
4    May    3.05  Spring

In [9]:
# See last few rows
avg_monthly_precip.tail()

   months  precip seasons
7     Aug    1.62  Summer
8    Sept    1.84    Fall
9     Oct    1.31    Fall
10    Nov    1.39    Fall
11    Dec    0.84  Winter

In [10]:
# Note data type object for text str columns
avg_monthly_precip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
months     12 non-null object
precip     12 non-null float64
seasons    12 non-null object
dtypes: float64(1), object(2)
memory usage: 416.0+ bytes

In [11]:
# Sort values in descending order
avg_monthly_precip.sort_values(by="precip", ascending = False)

   months  precip seasons
4     May    3.05  Spring
3     Apr    2.93  Spring
5    June    2.02  Summer
6    July    1.93  Summer
2     Mar    1.85  Spring
8    Sept    1.84    Fall
7     Aug    1.62  Summer
10    Nov    1.39    Fall
9     Oct    1.31    Fall
11    Dec    0.84  Winter
1     Feb    0.75  Winter
0     Jan    0.70  Winter

In [12]:
# See index for columns (names)
avg_monthly_precip.columns

Index(['months', 'precip', 'seasons'], dtype='object')

In [13]:
# Check type
type(avg_monthly_precip)

pandas.core.frame.DataFrame

In [14]:
# Precip column as pandas series
type(avg_monthly_precip["precip"])

pandas.core.series.Series

In [15]:
# Precip column as pandas dataframe with one series
type(avg_monthly_precip[["precip"]])

pandas.core.frame.DataFrame

In [16]:
# Convert values in precip from in to mm
avg_monthly_precip["precip"] *= 25.4

avg_monthly_precip

   months  precip seasons
0     Jan  17.780  Winter
1     Feb  19.050  Winter
2     Mar  46.990  Spring
3     Apr  74.422  Spring
4     May  77.470  Spring
5    June  51.308  Summer
6    July  49.022  Summer
7     Aug  41.148  Summer
8    Sept  46.736    Fall
9     Oct  33.274    Fall
10    Nov  35.306    Fall
11    Dec  21.336  Winter

In [17]:
# Get summary stats on precip for each unique season
season_stats = avg_monthly_precip.groupby(["seasons"])[["precip"]].describe()

# Note that seasons became row index
season_stats

        precip
         count       mean        std     min     25%     50%     75%     max
seasons
Fall       3.0  38.438667   7.257173  33.274  34.290  35.306  41.021  46.736
Spring     3.0  66.294000  16.787075  46.990  60.706  74.422  75.946  77.470
Summer     3.0  47.159333   5.329967  41.148  45.085  49.022  50.165  51.308
Winter     3.0  19.388667   1.802028  17.780  18.415  19.050  20.193  21.336

In [18]:
# Another check that seasons became row index
season_stats.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Fall to Winter
Data columns (total 8 columns):
(precip, count)    4 non-null float64
(precip, mean)     4 non-null float64
(precip, std)      4 non-null float64
(precip, min)      4 non-null float64
(precip, 25%)      4 non-null float64
(precip, 50%)      4 non-null float64
(precip, 75%)      4 non-null float64
(precip, max)      4 non-null float64
dtypes: float64(8)
memory usage: 288.0+ bytes

In [19]:
# Use row index to query data
season_stats.loc[["Fall"]]

        precip
         count       mean       std     min    25%     50%     75%     max
seasons
Fall       3.0  38.438667  7.257173  33.274  34.29  35.306  41.021  46.736

In [20]:
# Reset row index to range starting at [0]
season_stats.reset_index(inplace=True)

season_stats

  seasons precip
           count       mean        std     min     25%     50%     75%     max
0    Fall    3.0  38.438667   7.257173  33.274  34.290  35.306  41.021  46.736
1  Spring    3.0  66.294000  16.787075  46.990  60.706  74.422  75.946  77.470
2  Summer    3.0  47.159333   5.329967  41.148  45.085  49.022  50.165  51.308
3  Winter    3.0  19.388667   1.802028  17.780  18.415  19.050  20.193  21.336

In [21]:
# Note row index is once again RangeIndex starting at [0]
season_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
(seasons, )        4 non-null object
(precip, count)    4 non-null float64
(precip, mean)     4 non-null float64
(precip, std)      4 non-null float64
(precip, min)      4 non-null float64
(precip, 25%)      4 non-null float64
(precip, 50%)      4 non-null float64
(precip, 75%)      4 non-null float64
(precip, max)      4 non-null float64
dtypes: float64(8), object(1)
memory usage: 416.0+ bytes

In [22]:
# Get summary stats without setting index to seasons
season_stats = avg_monthly_precip.groupby(["seasons"], 
                                          as_index=False)[["precip"]].describe()

# Note that seasons is not index due to as_index=False
season_stats

  precip
   count       mean        std     min     25%     50%     75%     max
0    3.0  38.438667   7.257173  33.274  34.290  35.306  41.021  46.736
1    3.0  66.294000  16.787075  46.990  60.706  74.422  75.946  77.470
2    3.0  47.159333   5.329967  41.148  45.085  49.022  50.165  51.308
3    3.0  19.388667   1.802028  17.780  18.415  19.050  20.193  21.336

In [23]:
# Note that seasons is not a column in new dataframe
season_stats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 8 columns):
(precip, count)    4 non-null float64
(precip, mean)     4 non-null float64
(precip, std)      4 non-null float64
(precip, min)      4 non-null float64
(precip, 25%)      4 non-null float64
(precip, 50%)      4 non-null float64
(precip, 75%)      4 non-null float64
(precip, max)      4 non-null float64
dtypes: float64(8)
memory usage: 288.0 bytes